.page_header {
    background-color: #D9D9D9;
    width: 100dvw;
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1em 0;
        flex-wrap: wrap;

        .header_wrapper {
            flex-grow: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logotype {
                margin-right: 5em;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                li {
                    text-decoration: none;
                    list-style-type: none;
                    margin: 0 1vw;

                    a {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 18px;
                        color: #000;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        img {
                            width: 1em;
                            height: 1em;
                            margin-right: 0.5em;
                        }
                    }
                }
            }
        }


        .feed_back {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .login_wrapper {
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
                border-radius: 50%;
                display: flex;
                align-items: center;

                img {}
            }

            .text {
                text-transform: uppercase;
                padding: 1em 2em;
                background: #FFFFFF;
                /* 1 */

                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
                border-radius: 2em;
                color: #000;
                font-family: 'Montserrat', sans-serif;
                border: none;
                font-size: 18px;
                font-weight: bold;
                margin-right: 0.5em;
                cursor: pointer;
            }

            .phone {
                background: none;
                border-radius: 50%;
                display: flex;
                align-items: center;
                border: none;
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
                display: none;
            }
        }
    }
}

.modal_container{
    background-color: #000;
}



@media (max-width: 1440px) {
    .phone {
        display: flex !important;
        margin-right: 1em;
    }

    .text {
        display: none;
    }

    .feed_back {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media (max-width: 1150px) {
    .page_header {
        nav {
            justify-content: center;

            .header_wrapper {
                .logotype {
                    margin-right: 1em !important;
                }

                ul {
                    li {
                        a {
                            font-size: 14px !important;
                        }
                    }
                }
            }
            .feed_back{
                margin-left: 1em;
            }
        }



    }
}

@media (max-width: 890px) {
    .page_header {
        nav {
            justify-content: space-around;

            .header_wrapper {
                .logotype {
                    margin-right: 1em !important;
                }

                ul {
                    li {
                        margin: 0 2em;
                        a {
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
            .feed_back{
                margin-left: 1em;
            }
        }



    }
}

@media (max-width: 700px) {
    .page_header {
        nav {
            justify-content: space-around;

            .header_wrapper {
                .logotype {
                    margin-right: 1em !important;
                    img{
                        width: 120px;
                        height: 60px;
                    }
                }

                ul {
                    li {
                        margin: 0 3vw !important;
                        a {
                            span{
                                display: none;
                            }
                        }
                    }
                }
            }
            .feed_back{
                margin-left: 1em;
            }
        }



    }
}

@media (max-width: 550px) {
    .page_header {
        nav {
            justify-content: space-around;
            padding: 0.7em 0;
            .header_wrapper {
                .logotype {
                    margin-right: 1em !important;
                    img{
                        width: 100px;
                        height: 50px;
                    }
                }

                ul {
                    li {
                        margin: 0 3vw !important;
                        a {
                            span{
                                display: none;
                            }
                            img{
                                width: 20px;
                                height: auto;
                            }
                        }
                    }
                }
            }
            .feed_back{
                margin-left: 1em;
                .phone{
                    display: none !important;
                }
                .login_wrapper{
                    .login{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }



    }
}

@media (max-width: 349px) {
    .page_header {
        nav {
            .header_wrapper {
                ul {
                    li {
                        margin: 0 1vw !important;
                    }
                }
            }
        }
    }
}