@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a69249 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: #1d1d1d;
}

*::-webkit-scrollbar-thumb {
  background-color: #a69249;
  border-radius: 10px;
  border: 12px none #c41c1c;
}

#__next {
  min-height: 100vh;
  display: flex;
  background-color: #F3F3F3;
  flex-direction: column;
}

main {
  flex-grow: 1;

  section {
    max-width: 1800px;
    padding: 0 5vw;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* [class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
} */

.navigation_wrapper {
  position: relative;

  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
}

.ant-modal-content {
  background: #F3F3F3 !important;
  border-radius: 60px;
  padding: 2em !important;
  .ant-modal-header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* identical to box height, or 138% */

    text-transform: uppercase;

    /* желтый градиент */
    text-align: center;

    background: linear-gradient(180deg, #A69249 0%, #5B4B32 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    .ant-modal-title{
      font-size: 32px;
    }
  }
}

.swiper-slide {
  width: auto !important;
  overflow: hidden;
  border-radius: 60px;
}

.prev_slide {
  backdrop-filter: blur(20px);
}

.swiper-pagination {}

.swiper-pagination-bullet {
  background: #fff !important;
  border: 2px solid #000;
}

.swiper-pagination-bullet-active {
  background: #A69249 !important;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: linear-gradient(180deg, #A69249 0%, #5B4B32 100%);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #000000;
  cursor: pointer;
}

@media (max-width:500px){
  .arrow{
    display: none;
  }
}

.arrow--left {
  left: -2.5em;
}

.arrow--right {
  left: auto;
  right: -2.5em;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}


@media (max-width:670px) {
  .arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #000000;
    cursor: pointer;
  }

  .arrow--left {
    left: -1.5em;
  }

  .arrow--right {
    left: auto;
    right: -1.5em;
  }

  .dot {
    border: none;
    width: 7px;
    height: 7px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
}


@media (max-width:400px) {
  .arrow {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #000000;
    cursor: pointer;
  }

  .arrow--left {
    left: -1em;
  }

  .arrow--right {
    left: auto;
    right: -1em;
  }

  .dot {
    border: none;
    width: 4px;
    height: 4px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
}


@media (max-width:1000px) {
  main {
    section {
      margin-bottom: 80px !important;
    }
  }
}

@media (max-width:5000px) {
  main {
    section {
      margin-bottom: 40px !important;
    }
  }
}